.value {
  max-width: 450px;
  height: 24px;
  min-height: 24px;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 12px;
}

.value:hover, .value:active {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  color: blue;
}

.cell_value {
  max-width: 500px;
}

.cell_content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
