.option {
  width: 100%;
  //width: inherit;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 15px;


  &.selected_option {
    background-color: #99CCFF;
    color: white;
    border: 1px solid #99CCFF;
  }

  &:hover {
    background-color: #6699FF;
    color: white;
  }

  .option_content {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 95%;
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
